.center{
    text-align: center;
    justify-content: center;
}
.FooterB {
    display: block;
    text-transform: uppercase;
    width: 100%;
    background-color: #28292c;
    padding-bottom: 10px;
    margin-top: 150px;
    color: rgb(158, 151, 151);
}

.Bfooter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-bottom: 10px;
}

.Bfooter .nav_link ul,
.icon {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Bfooter .nav_link ul li {
    margin-top: 10px;
}

.Bfooter .nav_link ul li a {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    margin: 0 10px;
    color: rgb(158, 151, 151);
    text-align: center;
    letter-spacing: 1px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.icon h2 a {
    color: rgb(158, 151, 151);
}

.icon h2 {
    margin: 10px;
}