textarea {
	display: none;
}

.Program {
	border: 4px solid;
	display: none;
	border-right: none;
	border-color: rgb(226, 223, 28) #e60707 rgb(241, 30, 213) rgb(20, 3, 51);
	padding: 10px;
	padding-top: 0;
	margin: auto;
	width: 76%;
}

.content {
	margin: auto;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 300px;
}

h2 {
	text-align: center;
	text-shadow: 0 0 5px rgb(110, 107, 107);
	background-color: rgb(206, 200, 116);
	margin-top: 20px;
	font-size: 16px;
	color: #8b0606;
	padding: 4px;
	border-radius: 15px;
}

h1 {
	border: 2px solid rgb(40, 7, 226);
	border-radius: 15px;
	font-size: 25px;
	border-top-right-radius: 10px;
	padding: 6px;
	width: 80%;
	margin: auto;
	margin-top: 35px;
	box-shadow: 0 0 10px 0 red;
	cursor: pointer;
	background-color: rgb(251, 253, 251);
	transition: .5s;
}

h1:hover {
	color: rgb(245, 245, 245);
	width: 83%;
	background: rgb(111, 87, 148);
}

h1:active {
	background: #04993d;
	color: rgb(197, 3, 3)
}

h1:focus {
	width: 83%;
}

.date {
	color: #2807e6;
	font-size: 17px;
	margin-left: 50px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea {
	color: lightgreen;
	background: rgb(27, 31, 40);
	border: 5px solid white;
	font-size: 20px;
	resize: none;
	padding: 8px;
	cursor: copy;
	outline: none;
	border: 5px solid rgb(209, 25, 194);
	border-radius: 20px 6px 6px 13px;
}

input[type=button] {
	background-color: rgb(12, 238, 61);
	border: 2px dashed rgb(13, 14, 13);
	color: rgb(17, 16, 16);
	font-size: 20px;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	padding: 5px 10px;
	transition: .5s;
}

input[type=button]:hover {
	background-color: rgb(212, 233, 20);
	border: 2px dashed rgb(12, 22, 117);
	color: rgb(68, 2, 13);
	font-size: 20px;
	border-bottom-left-radius: 20px;
	padding: 11px;
	font-weight: bold;
}

input[type=button]:active {
	background-color: rgb(11, 114, 211);
	border: 2px dashed rgb(195, 248, 4);
	color: rgb(10, 0, 0);
	font-size: 20px;
	border-bottom-left-radius: 20px;
}

.Scrol_Top_Bottm .go_top,
.Scrol_Top_Bottm .go_bottm,
.fold_bt .fold {
	position: fixed;
	padding: 10px;
	background-color: rgb(11, 3, 54);
	border: 0;
	box-shadow: 0 0 8px 0 black;
	outline: none;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
	font-size: 18px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}

.Scrol_Top_Bottm .go_top:hover,
.Scrol_Top_Bottm .go_bottm:hover,
.fold_bt .fold:hover {
	color: black;
	background-color: rgb(8, 235, 235);
	box-shadow: 0 0 10px 0 red;
	border-radius: 25px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
}

.Scrol_Top_Bottm .go_top:active,
.Scrol_Top_Bottm .go_bottm:active,
.fold:active {
	background-color: rgb(45, 202, 39);
	color: red;
	transform: translateY(5px);
}

.Scrol_Top_Bottm .go_top {
	bottom: 155px;
	right: 10px;
}

.fold_bt .fold {
	top: 150px;
	display: none;
	left: 5px;
}

.Scrol_Top_Bottm .go_bottm {
	top: 160px;
	right: 5px;
}