body{
    height: 100%;
}
.letest_blc{
    background-color: rgb(99, 230, 117);
    border-radius: 50px;
    box-shadow: 0 0 13px 0 red;
}
.letest_blc h3{
    margin-left: 10px;
}
.letest_blc h3 a{
    text-transform: uppercase;
    color: rgb(58, 4, 119);
    margin-left: 3px;
}
@media (min-width: 700px) {
    .tabgroup{
        display: flex;
        margin-top: 29px;
        justify-content: space-around;
    }
    .letest_blc h2{
        margin: 20px;
        margin-left: 100px;
    }
    .letest_blc h1{
        margin-bottom: 29px;
    }
    .other_pl ul a , .just_fun a{
        font-size: 20px;
    }
    .other_pl, .letest_blc{
        padding: 25px 30px;
    }
    .containt h1{
        font-size: 1.3rem;
        padding-left: 20px;
    }
}
@media (min-width:900px) {
    .just_fun{
        max-width: 81%;
    }
}
@media (max-width: 700px){
    .containt h1{
        font-size: 1.2rem;
    }
    .letest_blc h1, .other_pl h1 , .just_fun h1{
        font-size: 1.3rem;
    }
    .letest_blc h2 {
        margin: 25px 0;
        text-align: center;
    }
    .letest_blc h3{
        font-size: 1rem;
    }
    .other_pl ul a , .letest_blc h2,.data a{
        font-size: 1rem;
    }
    .tabgroup{
        display: block;
        margin-top: 30px;
    }
    .after_manu{
        padding: 2px 20px;
    }
    .other_pl, .letest_blc{
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        max-width: 350px;
        padding: 20px;
    }
}
.letest_blc h4{
    color: red;
    margin-top: 40px;
}
.letest_blc h1{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(168, 3, 3);
}

sup{
    font-size: 15px;
}

.containt h1 span{
    font-family: 'Courier New';
}

.containt h1{
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px #851717;
    margin: 20px;
    color: rgb(126, 5, 106);
    text-shadow: 0 0 5px rgb(22, 199, 67);
}
.other_pl{
    background-color: rgb(211, 188, 57);
    font-size: 16px; 
    border-radius: 50px;
    box-shadow: 0 0 10px 0 red;
}
.other_pl h1{
    color: rgb(109, 4, 4);
    text-align: center;
    margin-bottom: 8px;
}
.other_pl ul{
    background: rgb(185, 169, 76);
    margin: auto;
    padding: 10px;
    max-width: 260px;
    border-radius: 20px;
}
.other_pl ul a:hover{
    background-color: rgb(93, 91, 224);
    color: aliceblue;
}
.other_pl ul a{
    color: green;
    font-weight: bold;
    border-radius: 10px;
    text-transform: none;
    padding: 7px;
    cursor: pointer;
    margin: 10px;
    background-color: antiquewhite;
}

.other_pl ul a{
    display: block;    
}
a{
    text-decoration: none;
}
h2 a{
    text-transform: none;
    color: rgb(2, 10, 116);
}
.just_fun{
    background-color: #0fe87f;
    border-radius: 30px ;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 10px 0 red;
}
.just_fun h1{
    color: rgb(109, 4, 4);
    text-align: center;
    text-shadow: 0 0 2px white;
}
.just_fun .data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(66, 0, 69);
    margin-top: 15px;
}
.data a{
    color: rgb(23, 0, 127);
    transition: .5s;
}
.data h3{
    margin-bottom: 22px ;
}
.data a:hover{
    color: yellow;
}