body{
    height: 100%;
}
.letest_blc{
    background-color: rgb(99, 230, 117);
    margin-left: 70px;
    margin-right: 12px;
    border-radius: 50px;
    padding: 17px;
    box-shadow: 0 0 13px 0 red;
}
.letest_blc h3 a{
    text-transform: uppercase;
    color: rgb(58, 4, 119);
    margin-left: 20px;
}
.tabgroup{
    display: flex;

}
.letest_blc h4{
    color: red;
    margin-top: 40px;
}
.letest_blc h1{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(168, 3, 3);
    margin-bottom: 20px;
}
.letest_blc h2{
    margin: 20px;
    margin-left: 100px;
}
sup{
    font-size: 15px;
}

.containt h1 span{
    font-family: 'Courier New';
}

.containt h1{
    border-radius: 15px;
    padding: 7px;
    padding-left: 45px;
    font-size: 24px;
    box-shadow: 0 0 10px #851717;
    margin: 20px;
    color: rgb(126, 5, 106);
    text-shadow: 0 0 5px rgb(22, 199, 67);
}
.other_pl{
    background-color: rgb(211, 188, 57);
    margin:auto;
    margin-right: 70px;
    font-size: 16px;
    width: 400px;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 10px 0 red;
}
.other_pl h1{
    color: rgb(109, 4, 4);
    text-align: center;
    margin-bottom: 8px;
}
.other_pl ul{
    background: rgb(185, 169, 76);
    margin: auto;
    padding: 10px;
    width: 230px;
    border-radius: 20px;
}
.other_pl ul a:hover{
    background-color: rgb(93, 91, 224);
    color: aliceblue;
}
.other_pl ul a{
    color: green;
    font-weight: bold;
    border-radius: 10px;
    text-transform: none;
    padding: 6px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    background-color: antiquewhite;
}

.other_pl ul a{
    display: block;    
}
a{
    text-decoration: none;
}
h2 a{
    text-transform: none;
    color: rgb(2, 10, 116);
}
.just_fun{
    background-color: #0fe87f;
    margin: 35px 80px 20px 80px ;
    border-radius: 30px ;
    padding: 25px;
    box-shadow: 0 0 10px 0 red;
}
.just_fun h1{
    color: rgb(109, 4, 4);
    text-align: center;
    text-shadow: 0 0 2px white;
}
.just_fun .data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
    color: rgb(66, 0, 69);
    margin-top: 15px;
}
.data a{
    color: rgb(23, 0, 127);
    font-size: 22px;
    transition: .5s;
}
.data h3{
    margin-bottom: 22px ;
}
.data a:hover{
    font-size: 25px;
    color: yellow;
}