@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("scrolbar.css");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body, html {
    cursor: default;
    height: 100%;
}
.marqu{
    position: fixed;
}
marquee{
    color: red;
    font-size: 15px;
    position: relative;
    z-index: -1;
    margin-bottom: 10px;
}
body{
    background-image: url("backimg.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman';
}
#act{
    box-shadow: 0 0 10px 0 rgb(13, 3, 160); 
    background-color: rgb(1, 198, 247);
    color: black;
    border-radius: 25px;
     border-top-left-radius: 5px;  
    border-bottom-right-radius: 5px ;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.main{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
    box-shadow: 0 0 15px 0 rgb(12, 12, 12);
    z-index: 10;
    transition: 0.7s;
}
.main a{
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    margin-right: 8px;
    color: rgb(252, 252, 252);
    background-color: rgb(11, 3, 54);
    border-radius: 25px;
    font-size: 25px;
    box-shadow: 0 0 10px 0 rgb(224, 9, 9); 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px ;
}
.after_manu{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo{
    padding-left: 10px;
}
.logo a{
    box-shadow: 0 0 10px 0 rgb(148, 1, 128); 
	color: rgb(236, 231, 233);
    font-family: 'Times New Roman';
    background-color: rgb(1, 153, 102);
}

.logo a:hover{
    box-shadow: 0 0 10px 0 rgb(11, 25, 223); 
    background: rgb(1, 198, 247);
    border-radius: 25px;
    border-top-left-radius: 5px;  
    color: black;
    border-bottom-right-radius: 5px ;
}
.logo a:active{
    color: red;
}
.manus a:hover{
    color: black;
    background-color: rgb(1, 198, 247);
    border-radius: 28px;
    box-shadow: 0 0 10px 0 rgb(13, 3, 160); 
    border-top-left-radius: 5px;  
    border-bottom-right-radius: 5px ;
}
.manus a:active{
    color: red;
}
