@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("scrolbar.css");
@import url("bottomfooter.css");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.center{
    text-align: center;
}
body, html {
    cursor: default;
}
@media (max-width: 700px){
    .after_manu{
        padding: 2px 15px;
    }
}
body {
    font-family: 'Times New Roman';
    background-color: #d6dbde;
    user-select: none;
}

.manus .bi , .manus .fa{
    display: none;
}
.none{
    display: none;
}
.mamu_phone .logo a{
    font-size: 2rem;
}
.mamu_phone{
    position: sticky;
    background-color: rgb(197, 197, 197);
    box-shadow: 5px 9px 20px 0px rgb(12 12 12);
    display: flex;
    transition: 0.5s;
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-around;
    padding: 15px 0;
}
.logo a{
    font-size: 1.5rem;
    color :rgb(11, 3, 54);
    letter-spacing: 2px;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
}
#manu_bar{
    font-size: 2rem;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 10px;
    height: 30px;
    background-color: #d6dbde;
}
.main{
    background-color: rgb(197, 197, 197);
    box-shadow: 5px 9px 20px 0px rgb(12 12 12);
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    padding-bottom: 90px;
    display: none;
    overflow: auto;
    z-index: 12;
}
.logo_name {
    margin-top: 15px;
    margin-bottom: 50px;
}
.nav_logo{
    margin-top: 10px;
}
.nav_logo img {
    border: 3px solid rgb(11, 3, 54);
    border-radius: 50%;
    width: 80px;
}
.xl {
    position: absolute;
    right: 10px;
    top: 5px;
}
.xl i{
    font-size: 3rem;
}
.manus{
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}
.manu_link{
    text-align: left;
    margin-bottom: 25px;
}
.manu_link a{
    border-bottom: 5px  black;
    font-size: 1.3rem;
    color: rgb(11, 3, 54);
    text-transform: uppercase;
    text-decoration: none;
}

.FoT {
    text-align: center;
    display: block;
    opacity: 0.5;
    width: 100%;
    padding-bottom: 25px;
}

.CoB{
    margin-top: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: black;
}
.footer{
    font-size:1.2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
#act{
    text-decoration: underline;
    text-decoration-style: wavy !important;
    text-decoration-color: red !important;
}
