@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("scrolbar.css");
body{
    margin: 0;
    padding: 0;
    background: rgb(214, 199, 199);
 }
.header{
    background: white;
    margin: auto;
    margin-top: 80px;
    width: 320px;
    padding: 20px;
    border-radius: 30px;
    box-shadow:0 0 30px 0 red;
}
.header:hover{
    box-shadow:0 0 30px 0 rgb(12, 12, 12);
}
strong{
    font-size: 25px;
    color: rgb(204, 6, 45);
}
h3{
    color: rgb(65, 30, 1);
    margin-top: 1px;
}
a{
    text-decoration: none;
}
.reload{
    border: 5px solid rgb(245, 243, 243);
    border-radius: 50%;
    border-top: 5px solid rgb(3, 207, 180);
    border-bottom: 5px solid rgb(3, 207, 64);
    width: 40px;
    height: 40px;
    display: none;
    margin: auto;
     animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
i{
    font-size: large;
    color: rgb(62, 19, 179);
    font-weight: bold;
}
input[type='checkbox'] {
    width: 18px;
    padding: 10px;
    color: red;
    margin-right:2px;
    height: 18px;
}
.HC{
    font-family: sans-serif;
    cursor: pointer;
    position: absolute;
    top : 15px;
    left: 20ch;
    padding: 10px;
    color: rgb(252, 252, 252);
    background-color: rgb(11, 3, 54);
    border-radius: 25px;
    font-size: 25px;
    box-shadow: 0 0 10px 0 rgb(224, 9, 9); 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px ;
}
.HC:hover{
    box-shadow: 0 0 10px 0 rgb(177, 223, 11); 
    background: rgb(4, 177, 207);
    border-radius: 25px;
    border-top-left-radius: 5px;  
    color: rgb(56, 48, 48);
    border-bottom-right-radius: 5px ;
}
.HC:active{
    transform: translateY(10px);
    background: red;
    color: azure;
    }
input{
    padding: 10px;
    border: 3px solid;
    border-color: rgb(37, 200, 206);
    outline: none;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 22px;
    box-sizing: border-box;
    margin-right: 10px;
    transition: .5s;
}
input:focus{
    border-color: rgb(48, 4, 121);
    box-shadow: 0 0 10px 0 red;
}
input:hover{
    background-color: rgba(96, 99, 96, 0.192);
    padding: 15px;
    border: 2px solid red;
}
h1{
    color: darkblue;
    text-shadow: 0 0 5px rgb(10, 8, 131);
}
.log{
    padding: 10px;
    border: 3px solid rgb(221, 69, 9);
    border-radius: 35px;
    width: 130px;
    color: rgb(20, 5, 156);
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 80px;
    background: linear-gradient(160deg, rgb(201, 82, 13) ,rgba(229, 229, 231, 0.151),rgb(24, 143, 8));
    box-shadow:0 0 35px 0 rgb(8, 0, 2);
}
.log:active{
    transform: translateY(10px);
    border: 4px double rgb(172, 3, 3);
    background: linear-gradient(160deg, rgb(4, 243, 44) ,rgb(229, 229, 231),rgb(243, 113, 7));
}
.log:hover{
    font-size: 35px;
    width: 145px;
}
