::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgb(255, 255, 255);

}
::-webkit-scrollbar-thumb{
    background-color: #722da0;
    border-radius: 20px;
}
