* {
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

#Result {
    padding: 10px 10px;
    width: 200px;
    cursor: pointer;
    font-size: 2rem;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: inset #56caa3 -1px 2px 14px 0px;
    color: white;
    background-color: #00049a;

}

@media only screen and (max-width: 1000px) {
    .main {
        zoom: 1.6;
    }
    
    #Result {
        margin-top: 100px;
        width: 500px;
        font-size: 4rem;
    }
}

body {
    background-color: rgba(17, 15, 15, 0.941);
    text-align: center;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h1 {
    color: aqua;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 6px rgb(234, 236, 122);
}

a {
    font-family: sans-serif;
    padding: 15px;
    color: rgb(252, 252, 252);
    background-color: rgb(84, 24, 224);
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 0 15px 0 rgb(19, 18, 18);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
    background-color: rgb(1, 198, 247);
    border-radius: 28px;
    box-shadow: 0 0 10px 0 rgb(13, 3, 160);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a:active {
    color: red;
}

.box {
    background-color: transparent;
    border: 3px solid rgb(101, 250, 87);
    height: 170px;
    border-radius: 5px;
    font-size: 140px;
    width: 170px;
    cursor: pointer;
    color: rgb(3, 176, 182);
    float: left;
}

.main {
    width: calc(140px * 4);
    margin: auto;
    padding-left: 25px;
    margin-top: 100px;
}

#d1,
#d4,
#d7 {
    clear: left;
    border-left: none;
}

#d1,
#d2,
#d3 {
    border-top: none;
}

#d3,
#d6,
#d9 {
    border-right: none;
}

#d7,
#d8,
#d9 {
    border-bottom: none;
}

.use {
    cursor: no-drop;
}

.win {
    background-color: #10c50f;
    color: #2c2b2b;
}