@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body {
    background-color: rgb(7, 7, 7);
    color: aliceblue;
}

.body {
    background-color: rgb(250, 250, 250);
    color: #070707;
}

.day {
    box-shadow: 0 0 22px 0 rgb(5, 5, 5);
    width: 400px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 55px;
    animation: .5s;
}

.main {
    width: 400px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 22px 0 rgb(247, 245, 245);
    margin: auto;
    margin-top: 55px;
    animation: .5s;
}

#AP,
#day,
.logo,
#bt {
    display: inline-flex;
}

#AP {
    margin-left: 20px;
    font-size: 20px;
}

.audio {
    display: none;
}

.header {
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px rgb(32, 43, 199);
}

#clock {
    font-size: 60px;
}

#date {
    font-size: 28px;
    margin-top: 25px;
}

#day {
    font-size: 30px;
    margin-top: 25px;
}

.logo {
    text-decoration: none;
    position: sticky;
    font-family: sans-serif;
    padding: 10px;
    color: rgb(220, 218, 228);
    background-color: rgb(15, 1, 141);
    border-radius: 25px;
    font-size: 25px;
    transition: .5s;
}

.logo:hover {
    box-shadow: 0 0 5px 0 rgb(177, 223, 11);
    box-shadow: 0 0 15px 0 #410101;
    background: #2bd8f7;
    color: rgb(15, 1, 1);
    transform: translate(10px);
}

i {
    position: relative;
    font-size: 48px;
    cursor: pointer;
    transition: .5s;
    color: rgb(29, 243, 29);
}

i:hover {
    font-size: 60px;
}

.whatsapp {
    color: rgb(1, 104, 1);
}

button {
    position: relative;
    border: 0;
    box-shadow: 0 0 15px 0 rgb(68, 0, 177);
    cursor: pointer;
    margin-bottom: 0;
    font-size: 40px;
    border-radius: 10px;
    padding: 4px;
    transition: .5s;
}

button:hover {
    font-size: 45px;
}

.top {
    display: inline-flex;
    width: 400px;
    height: 50px;
}

.col {
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
    .header {
        zoom: 2;
    }
}