@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@media only screen and (max-width:1000px) {
    .setP {
        zoom: 1.9;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BC78EC;
    font-family: monospace;
    user-select: none;
}

.main {
    width: 420px;
    box-shadow: 3px 2px 30px 5px rgb(25 24 24);
    border-radius: 25px;
}

.setP {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 70px 0;
    transform: translate(-50%, -50%);
}

.top {
    border-top-right-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: #1e105d;
    height: 55px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #871616;
}

.result_box {
    background-color: #a55b32;
    background-image: linear-gradient(62deg, #bf6533 0%, #f5b216 100%);
    height: 380px;
    text-align: left;
    padding: 25px;
    width: 100%;
    overflow: auto;
}

.input {
    height: 50px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    border-top: 2px solid black;
    background-color: #001233;
    justify-content: space-evenly;
}

.name {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    padding-top: 7px;
}

.computer_R {
    border-top-right-radius: 25px;
    border-left: 2px solid black;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-right-radius: 10px;
    color: black;
    background-color: lightgreen;
}

input {
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    font-size: 27px;
    padding-left: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    outline: none;
    background-color: transparent;
    padding: 0 35px;
    border: 0;
    border-left: 2px solid rgb(50, 186, 245);
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

#reset {
    display: none;
    background-color: #056331 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    cursor: pointer;
}

.but {
    color: white;
    text-transform: capitalize;
    padding: 5px 0;
    font-size: 2rem;
}

.message {
    background-color: #871616;
    color: #ffffff;
    margin-bottom: 25px;
    box-shadow: 6px 3px 12px 1px #493838;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 0 7px 15px;
}

.win {
    background-color: rgb(9, 239, 9);
    color: #1a015b;
    font-weight: bold;
}

.finish {
    background-color: #8f0156;
    color: black;
    width: 250px;
    margin: auto;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 20px;
    color: white;
    box-shadow: 6px 3px 12px 1px #493838;
}

.Gameer {
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-size: 1.7rem;
}

.AnsWer {
    font-size: 1.3rem;
    padding-bottom: 5px;
}

#level_info {
    margin-top: 35px;
    opacity: 0.4;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
}

#level_info h1 {
    font-size: 2.7rem;
    letter-spacing: 2px;
    font-family: monospace;
}

#level_info .h3 {
    font-size: 1.2rem;
    margin-top: 37px;
}

#level_info .h3 h3 span {
    padding-bottom: 1px;
}

#level_info .h3 h3 {
    margin: 25px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.will {
    font-size: 2rem;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ruls {
    text-align: left;
    background-color: #1a015b;
    color: white;
    display: none;
    width: 80%;
    padding: 10px 0;
    border-top-right-radius: 20px;
}

.seting_wil{
    cursor: pointer;
    color: cyan;
    text-align: center;
    justify-content: center;
    background-color: #640176;
    width: 50px;
    padding: 5px;
    border-top-right-radius: 20px;
    box-shadow: 3px 2px 30px 5px rgb(25 24 24);
    border-top-left-radius: 10px;
}

ul {
    margin-left: 70px;
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    padding: 10px 0;
    border-bottom: 2px solid rgb(247, 255, 7);
    font-size: 1rem;
    cursor: pointer;
    width: 140px;
}

ul li:hover {
    border-bottom: 2px solid cyan;
}

ul li:active {
    border-bottom: 2px solid rgb(214, 4, 4);
}

.Footer{
    margin-top: 120px;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    opacity: 0.5;
    font-weight: bold;
}
.Footer span a{
    color: black;
}