@media only screen and (max-width:1000px) {
    .setP {
        zoom: 1.9;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BC78EC;
    font-family: monospace;
    user-select: none;
}

.main {
    width: 415px;
    text-align: center;
    box-shadow: 3px 2px 30px 5px rgb(25 24 24);
    border-radius: 25px;
}

.setP {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    border-top-right-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: #1e105d;
    height: 55px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #871616;
}

.result_box {
    background-color: #a55b32;
    background-image: linear-gradient(62deg, #bf6533  0%, #f5b216 100%);    
    height: 400px;
    text-align: left;
    padding: 25px;
    width: 100%;
    overflow: auto;
}

.input {
    height: 50px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    border-top: 2px solid black;
    background-color: #001233;
    justify-content: space-evenly;
}

.name {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding-top: 7px;
}

#comp_res {
    border-top-right-radius: 25px;
    border-left: 2px solid black;
    padding: 1px 30px 0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-right-radius: 10px;
    color: black;
    background-color: lightgreen;
    font-size: 2.3rem;
}

input {
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    font-size: 27px;
    padding-left: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
    outline: none;
    background-color: transparent;
    padding: 0 35px;
    border: 0;
    border-left: 2px solid rgb(50, 186, 245);
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

#reset {
    display: none;
    background-color: #056331 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.but {
    color: white;
    text-transform: capitalize;
    padding: 8px 0;
}

.message {
    background-color: #871616;
    color: #ffffff;
    margin-bottom: 25px;
    box-shadow: 6px 3px 12px 1px #493838;
    font-size: 20px;
    width: 365px;
    height: 40px;
    border-radius: 10px;
    overflow: auto;
    padding: 7px 0 7px 15px;
}

.win {
    background-color: rgb(9, 239, 9);
    color: #1a015b;
    font-weight: bold;
}

.ruls {
    display: block;
    text-align: left;
    background-color: #1a015b;
    color: white;
    display: none;
    padding: 10px 0;
    border-top-right-radius: 20px;
}

.RLicon {
    cursor: pointer;
    color: cyan;
    text-align: center;
    font-size: 2rem;
    background-color: #640176;
    width: 110px;
    border-top-right-radius: 20px;
    box-shadow: 3px 2px 30px 5px rgb(25 24 24);
    border-top-left-radius: 10px;
}

ul {
    margin-left: 50px;
    list-style: none;
}

ul h2 {
    color: aqua;
    font-size: 25px;
    margin-bottom: 5px;
}

ul li {
    padding: 5px 0;
    font-size: 15px;    
}