@media only screen and (max-width:1000px) {
    .setP{
        zoom: 1.9;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(2, 2, 2, 0.99);
    font-family: monospace;
    user-select: none;
}
.main{
    width: 410px;
    text-align: center;
    box-shadow: 0px 2px 10px 5px white;
}
.setP{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    background-color: gold;
    height: 55px;
}
::-webkit-scrollbar{
    width: 5px;
    height: 1px;
}::-webkit-scrollbar-thumb{
    background-color: #871616;
}
.result_box{
    background-color: #f1ec7f;
    height: 380px;
    text-align: left;
    padding: 25px;
    width: 100%;
    overflow: auto;
}
.input{
    height: 50px;
    display: flex;
    background-color: gold;
    justify-content: space-evenly;
}
.name{
    width: 100%;
    height: 100%;
    padding-top: 5px;
}
#comp_res{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 30px 0 30px;
    background-color: lightgreen;
    font-size: 29px;
}
input{
    background-color: transparent;
    width: 100%;
    outline: none;
    font-size: 27px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}
button{
    outline: none;
    background-color: transparent;
    padding: 0 35px;
    border: 0;
    border-left: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
#reset{
    display: none;
    background-color: #056331 !important;
}
.but{
    color: white;
    text-transform: capitalize;
    padding: 8px 0;
}
.message{
    background-color: #871616;
    color: #ffffff;
    margin: auto;
    margin-bottom: 13px;
    font-size: 20px;
    width: 365px;
    border-radius: 10px;
    padding: 7px 0 7px 15px;
}
.win{
    background-color: rgb(9, 239, 9);
    color: #1a015b;
    font-weight: bold;
}
.ruls{
    display: block;
    text-align: left;
    background-color: #1a015b;
    color: white;
    display: none;
    padding: 10px 0;
}
.RLicon{
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #640176;
    width: 110px;
    border-top-right-radius: 20px;
    box-shadow: 0px 2px 10px 5px white;
    border-top-left-radius: 10px;
}
ul{
    margin-left: 50px;
    list-style: none;
}
ul h2{
    color: aqua;
    font-size: 25px;
    margin-bottom: 5px;
}
ul li{
    padding: 5px 0;
    font-size: 15px;
}