.logo a{
    color: rgb(236, 231, 233);
    font-family: 'Times New Roman';
    background-color: rgb(1, 153, 102);
    padding: 20px;
    font-size: 28px;
    border-radius: 35px;
    border-bottom-left-radius: 15px;  
    border-top-right-radius: 15px ;
    text-decoration: none;
    box-shadow: 0 0 10px 0 rgb(148, 1, 128); 
}
.logo a:hover{
    box-shadow: 0 0 10px 0 rgb(177, 223, 11); 
    background: rgb(4, 177, 207);
    border-radius: 25px;
    border-top-left-radius: 5px;  
    color: rgb(56, 48, 48);
    border-bottom-right-radius: 5px ;
}
.logo a:active{
    color: red;
}
.audio{
    outline: none;
    border: 3px double red;
    border-radius: 30px;
}
.video{
    height: 300px;
    border: 3px dotted red;
}
body{
    background: rgb(194, 191, 191);
}
p{font-size: 20px;}
